/* App.css */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  border: 1px solid #333;
  display: inline-block;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  width: 40px;
  margin: -1px 0 0 -1px;
  padding: 0;
  text-align: center;
  transition: background 0.3s;
  user-select: none;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Style for the winner message */
.status::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: #333;
  margin: 10px auto;
}
